## Data Pruning

In [1]:
import numpy as np
import pandas as pd

## Attributes

tx_hash: Hash of the bitcoin transaction.​

indegree: Number of transactions that are inputs of tx_hash​

outdegree: Number of transactions that are outputs of tx_hash.​

in_btc: Number of bitcoins on each incoming edge to tx_hash.​

out_btc: Number of bitcoins on each outgoing edge from tx_hash.​

total_btc: Net number of bitcoins flowing in and out from tx_hash.​

mean_in_btc: Average number of bitcoins flowing in for tx_hash.​

mean_out_btc: Average number of bitcoins flowing out for tx_hash. ​

in-malicious: Will be 1 if the tx_hash is an input of a malicious transaction.​

out-malicious: Will be 1 if the tx_hash is an output of a malicious transaction.​

is-malicious: Will be 1 if the tx_hash is a malicious transaction​

out_and_tx_malicious: Will be 1 if the tx_hash is a malicious transaction or an output of a malicious transaction.​

all_malicious: Will be 1 if the tx_hash is a malicious transaction or an output of a malicious transaction or input of a malicious transaction.​

In [2]:
data = pd.read_csv('../Data/DG_out.csv')
data.head()

,tx_hash,indegree,outdegree,in_btc,out_btc,total_btc,mean_in_btc,mean_out_btc,in_malicious,out_malicious,is_malicious,out_and_tx_malicious,all_malicious
0,0437cd7f8525ceed2324359c2d0ba26006d92d856a9c20...,0,1,0.0,50.0,50.0,0.0,50.0,0,0,0,0,0
1,f4184fc596403b9d638783cf57adfe4c75c605f6356fbc...,1,2,50.0,50.0,100.0,50.0,25.0,0,0,0,0,0
2,ea44e97271691990157559d0bdd9959e02790c34db6c00...,1,1,10.0,10.0,20.0,10.0,10.0,0,0,0,0,0
3,a16f3ce4dd5deb92d98ef5cf8afeaf0775ebca408f708b...,1,1,40.0,30.0,70.0,40.0,30.0,0,0,0,0,0
4,591e91f809d716912ca1d4a9295e70c3e78bab077683f7...,1,2,30.0,30.0,60.0,30.0,15.0,0,0,0,0,0

In [3]:
data.describe()

,indegree,outdegree,in_btc,out_btc,total_btc,mean_in_btc,mean_out_btc,in_malicious,out_malicious,is_malicious,out_and_tx_malicious,all_malicious
count,3.024813e+07,3.024813e+07,3.024813e+07,3.024813e+07,3.024813e+07,3.024813e+07,3.024813e+07,3.024813e+07,3.024813e+07,3.024813e+07,3.024813e+07,3.024813e+07
mean,2.148699e+00,2.148699e+00,5.484150e+01,5.484150e+01,1.096830e+02,4.923980e+01,2.877087e+01,4.039919e-05,2.148893e-06,1.553815e-06,3.570468e-06,4.383741e-05
std,7.421447e+00,4.512048e+00,1.303303e+03,1.301473e+03,2.602527e+03,9.729210e+02,7.125567e+02,6.355907e-03,1.465909e-03,1.246520e-03,1.889565e-03,6.620838e-03
min,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,1.000000e+00,2.000000e+00,1.000000e-01,9.950000e-02,2.058720e-01,6.400000e-02,5.025776e-02,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,1.000000e+00,2.000000e+00,9.325000e-01,9.590000e-01,1.964759e+00,5.350261e-01,4.900000e-01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
75%,2.000000e+00,2.000000e+00,8.591912e+00,9.063657e+00,1.840000e+01,5.614287e+00,4.519481e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
max,1.932000e+03,1.322000e+03,5.500000e+05,5.000207e+05,1.050000e+06,4.992596e+05,5.000000e+05,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00

In [4]:
data.drop(columns=['mean_in_btc','mean_out_btc','out_and_tx_malicious','all_malicious'], inplace=True)
data.head()

,tx_hash,indegree,outdegree,in_btc,out_btc,total_btc,in_malicious,out_malicious,is_malicious
0,0437cd7f8525ceed2324359c2d0ba26006d92d856a9c20...,0,1,0.0,50.0,50.0,0,0,0
1,f4184fc596403b9d638783cf57adfe4c75c605f6356fbc...,1,2,50.0,50.0,100.0,0,0,0
2,ea44e97271691990157559d0bdd9959e02790c34db6c00...,1,1,10.0,10.0,20.0,0,0,0
3,a16f3ce4dd5deb92d98ef5cf8afeaf0775ebca408f708b...,1,1,40.0,30.0,70.0,0,0,0
4,591e91f809d716912ca1d4a9295e70c3e78bab077683f7...,1,2,30.0,30.0,60.0,0,0,0

In [5]:
data.drop(columns=['tx_hash','total_btc'], inplace=True)

In [6]:
data.to_csv('../Data/main_data.csv', index=False)

In [7]:
data[data['is_malicious'] == 1]

,indegree,outdegree,in_btc,out_btc,in_malicious,out_malicious,is_malicious
385224,478,2,25000.620000,25000.010000,0,0,1
2242631,191,2,1999.042164,1999.024664,0,0,1
2252738,6,2,2000.010000,2000.010000,0,0,1
2256885,7,2,20555.010000,20555.010000,0,0,1
2264158,4,2,3000.010028,3000.010028,0,0,1
2280816,4,2,10000.010000,10000.010000,0,0,1
2300186,11,2,3000.010022,3000.010022,0,0,1
2300888,10,2,3000.010026,3000.010026,0,0,1
2419568,34,2,3094.458251,3094.458251,0,0,1
2497660,2,1,4.988500,4.988000,0,0,1
2525448,7,2,2902.215000,2902.215000,0,0,1
2526327,4,2,17.228950,17.228950,0,0,1
2526764,2,2,165.038000,165.038000,0,0,1
2530080,12,2,87.020000,87.020000,0,0,1
3048846,29,1,18547.667676,18547.668676,0,0,1
4629924,6,2,1853.629419,1853.629419,0,0,1
6501884,29,2,16120.030593,16120.030593,0,0,1
6502945,10,2,6405.565800,6405.565800,1,0,1
6512883,8,2,1000.010000,1000.010000,0,1,1
6553018,1,2,500.000000,500.000000,1,0,1
6686406,2,2,60.565800,60.565300,0,1,1
7429460,10,2,8872.221959,8872.221959,0,1,1
7429464,1,2,349.990000,349.990000,1,0,1
7882547,22,2,1023.355320,1023.355320,0,0,1
7891702,1,2,50.013121,50.013121,0,0,1
7902771,1,2,50.041475,50.041475,0,0,1
7903634,1,2,50.106675,50.106675,0,0,1
8091890,1,2,69.671836,69.671336,0,0,1
8146994,1,2,85.494648,85.494148,0,0,1
8190124,1,2,97.889561,97.889561,0,0,1
8227559,1,2,99.471685,99.471185,0,0,1
8366067,1,2,100.000000,100.000000,0,0,1
8388372,1,2,93.072120,93.072120,0,0,1
8489820,1,2,96.028373,96.028373,0,0,1
8658002,1,2,98.500190,98.500190,0,0,1
8754397,2,2,54.065761,54.065261,0,0,1
8857642,131,2,2592.015500,2592.010000,0,1,1
8859393,1,2,20.000000,20.000000,1,0,1
8863543,4,2,108.835343,108.830343,0,0,1
8875401,2,2,118.901583,118.896583,0,0,1
17386434,43,2,748.018178,748.012178,0,0,1
17386766,47,2,706.019198,706.010214,0,0,1
25762888,27,2,4000.013638,4000.012638,0,0,1
26790951,22,2,484.766885,484.766385,0,0,1
27082589,10,1,1295.042403,0.042403,0,0,1
27876995,22,0,685.579736,0.000000,0,0,1
27898057,11,0,5210.651246,0.000000,0,0,1